body{
    /*via adobe photoshop color picker from sample img provided*/
    background-color: #4912f6;
    color: white;
    }

    h1{
        font-family: "canada-type-gibson", sans-serif;
            font-weight: 600;
            font-style: normal;
            font-size: 1.7em;
            color:azure;

    }
    h2{
        font-family: "basic-sans", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 1.25em;
            color: azure;
    }
    h3{
        font-family: "acumin-pro-wide", sans-serif;
            font-weight: 800;
            font-style: normal;
    }  
        /*sign in anchor tag*/
        .signIn{
        color: whitesmoke;
    }  
       /*anchor states*/
            .signIn:hover {
                color: orange;
                text-decoration: underline !important;
        }
            
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .navbar-links {
            text-decoration: none;
            display: flex;
            gap: 10px;
 
        }

        .navbar-links a {
            text-decoration: none;
                    
        }

    
    .img-top {
        width:auto;
        height: 100%;
        object-fit: cover;
    }

.underline {
    text-decoration: underline;
}

.btn{
    color: white;
    /*creates pill shape*/
    border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 20px;
    /* GradientBkgrd*/
    background: #fc4a1a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* fonts*/
    font-family: "tablet-gothic", sans-serif;
        font-weight: 500;
        font-style: normal;
}

.centerSection{
    padding: 60px 0;
}
.upperText{
    font-family: "raleway", sans-serif;
        font-weight: 200;
        font-style: normal;
        color: lightgray;
        font-size:1em;
}
 #leftTop {
    display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 0;
        font-family: "raleway", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: gray;
    font-size: 1.5em;
    margin-top: 60px;

}
.lowerText{
font-family: "poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}